<section class="advantages" id="advantages">
  <div class="container">
    <div class="titleContainer">
      <h2>Advantages</h2>
    </div>
    <div class="itemsContainer">
      <div class="advantage-item">
        <div class="text-content">
          <p>
            Immerse yourself in colorful candy-filled islands with stunning
            visuals.
          </p>
          <h3><span class="number">01</span> Vibrant Graphics</h3>
        </div>
        <div class="iconContainer">
          <img
            class="icon"
            src="../public/img/advantages-img/Vibrant Graphics_Vector.png"
            alt="Vibrant Graphics"
            width="174"
            height="89"
          />
        </div>
      </div>

      <div class="advantage-item">
        <div class="text-content">
          <p>From easy to expert, play through hundreds of unique levels.</p>
          <h3><span class="number">02</span> Variety of Levels</h3>
        </div>
        <div class="iconContainer">
          <img
            class="icon"
            src="../public/img/advantages-img/Variety of Levels_Vector.png"
            alt="Levels of vector"
            width="129"
            height="158"
          />
        </div>
      </div>

      <div class="advantage-item">
        <div class="text-content">
          <p>
            Use power-ups and boosters to clear the board and conquer levels.
          </p>
          <h3><span class="number">03</span> Strategic Boosters</h3>
        </div>
        <div class="iconContainer">
          <img
            class="icon"
            src="../public/img/advantages-img/Strategic Boosters_Vector.png"
            alt="Strategic Boosters"
            width="125"
            height="110"
          />
        </div>
      </div>

      <div class="advantage-item">
        <div class="text-content">
          <p>
            New obstacles and puzzle mechanics introduced in each new chapter.
          </p>
          <h3><span class="number">04</span> Engaging Gameplay</h3>
        </div>
        <div class="iconContainer">
          <img
            class="icon"
            src="../public/img/advantages-img/Engaging Gameplay_Vector.png"
            alt="Engaging Gameplay"
            width="124"
            height="95"
          />
        </div>
      </div>

      <div class="advantage-item">
        <div class="text-content">
          <p>
            Take the sweet adventure with you anywhere, even without an internet
            connection.
          </p>
          <h3><span class="number">05</span> Offline Play</h3>
        </div>
        <div class="iconContainer">
          <img
            class="icon"
            src="../public/img/advantages-img/Offline Play_Vector.png"
            alt="Offline Play"
            width="113"
            height="113"
          />
        </div>
      </div>

      <div class="advantage-item">
        <div class="text-content">
          <p>Enjoy special events and rewards during holiday-themed levels.</p>
          <h3><span class="number">06</span> Seasonal Updates</h3>
        </div>
        <div class="iconContainer">
          <img
            class="icon"
            src="../public/img/advantages-img/Seasonal Updates_Vector.png"
            alt="Seasonal Updates"
            width="112"
            height="107"
          />
        </div>
      </div>

      <div class="advantage-item">
        <div class="text-content">
          <p>
            Great for casual gamers but with enough challenge to satisfy pros.
          </p>
          <h3><span class="number">07</span> Adaptive Difficulty</h3>
        </div>
        <div class="iconContainer">
          <img
            class="icon"
            src="../public/img/advantages-img/Adaptive Difficulty_Vector.png"
            alt="Adaptive Difficulty"
            width="105"
            height="115"
          />
        </div>
      </div>
    </div>
  </div>
</section>
