<section class="benefits-section" id="benefits">
  <div class="container">
    <h2 class="benefits-title">Benefits</h2>

    <div class="benefits-marquee">
      <ul class="benefits-grid">
        <div class="marquee-box">
          <li class="benefits-item">
            <svg class="benefits-svg">
              <use href="./public/sprite.svg#icon-Star"></use>
            </svg>
            <div class="benefits-box">
              <h3 class="benefits-box-title">Star Rating</h3>
              <p class="benefits-box-text">4.9</p>
            </div>
          </li>

          <li class="benefits-item">
            <svg class="benefits-svg">
              <use href="./public/sprite.svg#icon-Export"></use>
            </svg>
            <div class="benefits-box">
              <h3 class="benefits-box-title">Downloads</h3>
              <p class="benefits-box-text">Over 2 Million</p>
            </div>
          </li>

          <li class="benefits-item benefits-up">
            <svg class="benefits-svg">
              <use href="./public/sprite.svg#icon-ThumbsUp"></use>
            </svg>
            <div class="benefits-box">
              <h3 class="benefits-box-title">Positive Reviews</h3>
              <p class="benefits-box-text">50,000+</p>
            </div>
          </li>

          <li class="benefits-item benefits-up">
            <svg class="benefits-svg">
              <use href="./public/sprite.svg#icon-WifiSlash"></use>
            </svg>
            <div class="benefits-box">
              <h3 class="benefits-box-title">Offline Mode</h3>
              <p class="benefits-box-text">Both online and offline</p>
            </div>
          </li>
        </div>

        <div class="marquee-box">
          <li class="benefits-item benefits-up">
            <svg class="benefits-svg">
              <use href="./public/sprite.svg#icon-Star"></use>
            </svg>

            <div class="benefits-box">
              <h3 class="benefits-box-title">Star Rating</h3>
              <p class="benefits-box-text">4.9</p>
            </div>
          </li>

          <li class="benefits-item benefits-up">
            <svg class="benefits-svg">
              <use href="./public/sprite.svg#icon-Export"></use>
            </svg>
            <div class="benefits-box">
              <h3 class="benefits-box-title">Downloads</h3>
              <p class="benefits-box-text">Over 2 Million</p>
            </div>
          </li>

          <li class="benefits-item">
            <svg class="benefits-svg">
              <use href="./public/sprite.svg#icon-ThumbsUp"></use>
            </svg>
            <div class="benefits-box">
              <h3 class="benefits-box-title">Positive Reviews</h3>
              <p class="benefits-box-text">50,000+</p>
            </div>
          </li>

          <li class="benefits-item">
            <svg class="benefits-svg">
              <use href="./public/sprite.svg#icon-WifiSlash"></use>
            </svg>
            <div class="benefits-box">
              <h3 class="benefits-box-title">Offline Mode</h3>
              <p class="benefits-box-text">Both online and offline</p>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
</section>
