<footer class="footer">
  <div class="container container-footer">
    <nav class="nav-footer">
      <ul class="nav-list-footer">
        <li class="nav-item-footer">
          <a href="./privacy-policy.html" class="nav-link-footer"
            >Privacy Policy</a
          >
        </li>
        <li class="nav-item-footer">
          <a href="./terms-of-us.html" class="nav-link-footer">
            Terms and Conditions</a
          >
        </li>
      </ul>
    </nav>
    <div class="text-footer">©2024 JoyEpicWin.com, All rights reserved.</div>
  </div>
</footer>
