<section class="gallery-section" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>

    <div class="swiper mySwiper swiper-gallery">
      <div class="swiper-wrapper">
        <div class="swiper-slide gallery-slide">
          <img
            src="./public/img/gallery-img/free.png"
            srcset="
              ./public/img/gallery-img/free.png    1x,
              ./public/img/gallery-img/free@2x.png 2x
            "
            alt="Photo games"
          />
        </div>
        <div class="swiper-slide gallery-slide">
          <img
            src="./public/img/gallery-img/island.png"
            srcset="
              ./public/img/gallery-img/island.png    1x,
              ./public/img/gallery-img/island@2x.png 2x
            "
            alt="Photo games"
          />
        </div>
        <div class="swiper-slide gallery-slide">
          <img
            src="./public/img/gallery-img/gain.png"
            srcset="
              ./public/img/gallery-img/gain.png    1x,
              ./public/img/gallery-img/gain@2x.png 2x
            "
            alt="Photo games"
          />
        </div>
        <div class="swiper-slide gallery-slide">
          <img
            src="./public/img/gallery-img/over.png"
            srcset="
              ./public/img/gallery-img/over.png    1x,
              ./public/img/gallery-img/over@2x.png 2x
            "
            alt="Photo games"
          />
        </div>
        <div class="swiper-slide gallery-slide">
          <img
            src="./public/img/gallery-img/special.png"
            srcset="
              ./public/img/gallery-img/special.png    1x,
              ./public/img/gallery-img/special@2x.png 2x
            "
            alt="Photo games"
          />
        </div>

        <div class="swiper-slide gallery-slide">
          <img
            src="./public/img/gallery-img/gain.png"
            srcset="
              ./public/img/gallery-img/gain.png    1x,
              ./public/img/gallery-img/gain@2x.png 2x
            "
            alt="Photo games"
          />
        </div>
        <div class="swiper-slide gallery-slide">
          <img
            src="./public/img/gallery-img/over.png"
            srcset="
              ./public/img/gallery-img/over.png    1x,
              ./public/img/gallery-img/over@2x.png 2x
            "
            alt="Photo games"
          />
        </div>
      </div>
    </div>
  </div>
</section>
