<header class="header">
  <div class="container-header">
    <a href="#">
      <img
        class="icon-logo"
        src="./public/img/header-img/Logo.png"
        srcset="
          ./public/img/header-img/Logo.png    1x,
          ./public/img/header-img/Logo@2x.png 2x
        "
        alt="Logo"
        width="72"
        height="72"
      />
    </a>
    <nav>
      <ul class="nav-link">
        <li><a href="#home" class="link">Home</a></li>
        <li><a href="#advantages" class="link">Advantages</a></li>
        <li><a href="#benefits" class="link">Benefits</a></li>
        <li><a href="#reviews" class="link">Reviews</a></li>
        <li><a href="#aboutus" class="link">About us</a></li>
        <li><a href="#gallery" class="link">Gallery</a></li>
      </ul>
    </nav>
    <button class="burger-btn">
      <svg class="icon-burger">
        <use href="./public/sprite.svg#icon-Burger"></use>
      </svg>
    </button>
  </div>
</header>
<div class="mobile-content">
  <div class="container-mobile">
    <button class="close-btn">
      <svg class="icon-close">
        <use href="./public/sprite.svg#icon-X"></use>
      </svg>
    </button>
    <nav class="nav-link-mobile">
      <ul class="nav-mobile-list">
        <li><a href="#home" class="link js-link">Home</a></li>
        <li><a href="#advantages" class="link js-link">Advantages</a></li>
        <li><a href="#benefits" class="link js-link">Benefits</a></li>
        <li><a href="#reviews" class="link js-link">Reviews</a></li>
        <li><a href="#aboutus" class="link js-link">About us</a></li>
        <li><a href="#gallery" class="link js-link">Gallery</a></li>
      </ul>
    </nav>
  </div>
</div>
