<section class="hero" id="home">
  <div class="container hero-content">
    <div class="title-button-wrapper">
      <h1 class="hero-title">Candy Island</h1>
      <h2 class="hero-text">
        Sail Through Sweet Puzzles <br class="mobile-br" />
        And Explore <br class="desktop-br" />
        Candy-Filled <br class="mobile-br" />
        Lands!
      </h2>
      <a href="#" class="hero-button">
        <img
          src="./public/img/hero-img/mainButton.png"
          alt="Get it on Google Play"
          class="google-play-icon"
        />
      </a>
    </div>
  </div>
</section>
