<section class="reviews-section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper-reviews swiper">
      <ul class="swiper-wrapper">
        <li class="slide-reviews swiper-slide">
          <div class="reviews-box">
            <img
              class="reviews-img"
              src="./public/img/reviews-img/Frame-58.png"
              srcset="
                ./public/img/reviews-img/Frame-58.png    1x,
                ./public/img/reviews-img/Frame-58@2x.png 2x
              "
              alt="SweetToothGamer"
            />
            <h4 class="reviews-nickname">SweetToothGamer</h4>
          </div>
          <p class="reviews-text">
            Absolutely love the graphics and the endless levels. It’s my go-to
            game!
          </p>
        </li>
        <li class="slide-reviews swiper-slide">
          <div class="reviews-box">
            <img
              class="reviews-img"
              src="./public/img/reviews-img/Frame-61.png"
              srcset="
                ./public/img/reviews-img/Frame-61.png    1x,
                ./public/img/reviews-img/Frame-61@2x.png 2x
              "
              alt="Photo of PuzzleChampion"
            />
            <h4 class="reviews-nickname">PuzzleChampion</h4>
          </div>
          <p class="reviews-text">
            The puzzles keep getting better and harder! Perfect for killing
            time.
          </p>
        </li>
        <li class="slide-reviews swiper-slide">
          <div class="reviews-box">
            <img
              class="reviews-img"
              src="./public/img/reviews-img/Frame-59.png"
              srcset="
                ./public/img/reviews-img/Frame-59.png    1x,
                ./public/img/reviews-img/Frame-59@2x.png 2x
              "
              alt="Photo of CandyLover89"
            />
            <h4 class="reviews-nickname">CandyLover89</h4>
          </div>
          <p class="reviews-text">
            Great for relaxing after work. The designs are cute, and the
            challenges keep me hooked.
          </p>
        </li>
        <li class="slide-reviews swiper-slide">
          <div class="reviews-box">
            <img
              class="reviews-img"
              src="./public/img/reviews-img/Frame-65.png"
              srcset="
                ./public/img/reviews-img/Frame-65.png    1x,
                ./public/img/reviews-img/Frame-65@2x.png 2x
              "
              alt="Photo of BoostMaster"
            />
            <h4 class="reviews-nickname">BoostMaster</h4>
          </div>
          <p class="reviews-text">
            The boosters are fantastic, and the events are always fun to join.
          </p>
        </li>
        <li class="slide-reviews swiper-slide">
          <div class="reviews-box">
            <img
              class="reviews-img"
              src="./public/img/reviews-img/Frame-66.png"
              srcset="
                ./public/img/reviews-img/Frame-66.png    1x,
                ./public/img/reviews-img/Frame-66@2x.png 2x
              "
              alt="Photo of SugarCrushKing"
            />
            <h4 class="reviews-nickname">SugarCrushKing</h4>
          </div>
          <p class="reviews-text">
            Can’t stop playing! The levels get more creative the further you go.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
