<section class="reviews-section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper-reviews swiper">
      <ul class="swiper-wrapper">
        <li class="slide-reviews swiper-slide">
          <div class="reviews-box">
            <img
              class="reviews-img"
              src="./public/img/reviews-img/Frame-58.png"
              srcset="
                ./public/img/reviews-img/Frame-58.png    1x,
                ./public/img/reviews-img/Frame-58@2x.png 2x
              "
              alt="Photo of PopMaster99"
            />
            <h4 class="reviews-nickname">PopMaster99</h4>
          </div>
          <p class="reviews-text">
            Endless fun with colorful bubbles! The levels are well-designed and
            always exciting.
          </p>
        </li>
        <li class="slide-reviews swiper-slide">
          <div class="reviews-box">
            <img
              class="reviews-img"
              src="./public/img/reviews-img/Frame-59.png"
              srcset="
                ./public/img/reviews-img/Frame-59.png    1x,
                ./public/img/reviews-img/Frame-59@2x.png 2x
              "
              alt="Photo of CocoLover"
            />
            <h4 class="reviews-nickname">CocoLover</h4>
          </div>
          <p class="reviews-text">
            Perfect game to relax and kill some time. Love the cute characters
            and the gameplay!
          </p>
        </li>
        <li class="slide-reviews swiper-slide">
          <div class="reviews-box">
            <img
              class="reviews-img"
              src="./public/img/reviews-img/Frame-61.png"
              srcset="
                ./public/img/reviews-img/Frame-61.png    1x,
                ./public/img/reviews-img/Frame-61@2x.png 2x
              "
              alt="Photo of SharpShooter"
            />
            <h4 class="reviews-nickname">SharpShooter</h4>
          </div>
          <p class="reviews-text">
            The power-ups are game-changers! Makes each level unique and fun to
            solve.
          </p>
        </li>
        <li class="slide-reviews swiper-slide">
          <div class="reviews-box">
            <img
              class="reviews-img"
              src="./public/img/reviews-img/Frame-65.png"
              srcset="
                ./public/img/reviews-img/Frame-65.png    1x,
                ./public/img/reviews-img/Frame-65@2x.png 2x
              "
              alt="Photo of BubbleFanatic"
            />
            <h4 class="reviews-nickname">BubbleFanatic</h4>
          </div>
          <p class="reviews-text">
            I play this every day with my kids. We all love the challenges and
            the rewards.
          </p>
        </li>
        <li class="slide-reviews swiper-slide">
          <div class="reviews-box">
            <img
              class="reviews-img"
              src="./public/img/reviews-img/Frame-66.png"
              srcset="
                ./public/img/reviews-img/Frame-66.png    1x,
                ./public/img/reviews-img/Frame-66@2x.png 2x
              "
              alt="Photo of PuzzlePro"
            />
            <h4 class="reviews-nickname">PuzzlePro</h4>
          </div>
          <p class="reviews-text">
            Great for puzzle lovers. It's not just about shooting bubbles but
            also strategic thinking.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
