.advantages {
  display: flex;
  flex-direction: column;
  padding: 112px 0 0;
  @include media(desktop) {
    padding: 120px 0 0;
  }
}

.titleContainer {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  @include media(desktop) {
    font-size: 36px;
    margin-bottom: 64px;
  }
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 0 auto;
  @include media(desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: auto auto auto;
    width: 100%;
    gap: 24px;
  }
}

.advantage-item:nth-child(2n + 1) {
  grid-row: auto;
}

.advantage-item:nth-child(2n) {
  margin-top: 0;
  @include media(desktop) {
    margin-top: 240px;
  }
}
.advantage-item {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  width: 288px;
  height: auto;
  background: var(--Card-Background_Yellow, #fff9cd);
  // opacity: 0;
  // transform: translateX(0);
  // transition: all 1.2s ease;

  @include media(desktop) {
    width: 516px;
    height: 208px;
  }

  &.left-column {
    // transform: translateX(-100%);
  }

  &.right-column {
    // transform: translateX(100%);
  }

  &.visible.left-column {
    transform: translateX(0);
    opacity: 1;
  }

  &.visible.right-column {
    transform: translateX(0);
    opacity: 1;
  }
}

// @keyframes slideInLeft {
//   0% {
//     transform: translateX(-100%);
//     opacity: 0;
//   }
//   100% {
//     transform: translateX(0);
//     opacity: 1;
//   }
// }

// @keyframes slideInRight {
//   0% {
//     transform: translateX(100%);
//     opacity: 0;
//   }
//   100% {
//     transform: translateX(0);
//     opacity: 1;
//   }
// }

.iconContainer {
  position: relative;
}

.icon {
  position: absolute;
  right: 0;
  width: auto;
  height: auto;
}

.advantage-item:nth-child(1) .icon {
  content: url('/public/img/advantages-img/Vibrant Graphics_VectorMob.png');
  transform: translate(20px, -10px);

  @include media(desktop) {
    content: url('/public/img/advantages-img/Vibrant\ Graphics_Vector.png');
    transform: translate(50px, -70px);
  }
}
.advantage-item:nth-child(2) .icon {
  content: url('/public/img/advantages-img/Variety\ of\ Levels_VectorMob.png');
  transform: translate(10px, -22px);
  @include media(desktop) {
    content: url('/public/img/advantages-img/Variety\ of\ Levels_Vector.png');
    transform: translate(-2px, -79px);
  }
}

.advantage-item:nth-child(3) .icon {
  content: url('/public/img/advantages-img/Strategic\ Boosters_VectorMob.png');
  transform: translate(8px, -12px);
  @include media(desktop) {
    content: url('/public/img/advantages-img/Strategic\ Boosters_Vector.png');
    transform: translate(-2px, -49px);
  }
}

.advantage-item:nth-child(4) .icon {
  content: url('/public/img/advantages-img/Engaging\ Gameplay_VectorMob.png');
  transform: translate(24px, -12px);
  @include media(desktop) {
    content: url('/public/img/advantages-img/Engaging\ Gameplay_Vector.png');
    transform: translate(38px, -69px);
  }
}

.advantage-item:nth-child(5) .icon {
  content: url('/public/img/advantages-img/Offline\ Play_VectorMob.png');
  transform: translate(14px, -34px);
  @include media(desktop) {
    content: url('/public/img/advantages-img/Offline\ Play_Vector.png');
    transform: translate(1px, -69px);
  }
}

.advantage-item:nth-child(6) .icon {
  content: url('/public/img/advantages-img/Seasonal\ Updates_VectorMob.png');
  transform: translate(18px, -14px);
  @include media(desktop) {
    content: url('/public/img/advantages-img/Seasonal\ Updates_Vector.png');
    transform: translate(3px, -37px);
  }
}

.advantage-item:nth-child(7) .icon {
  content: url('/public/img/advantages-img/Vibrant\ Graphics_PuzzleMob.png');
  transform: translate(14px, -18px);
  @include media(desktop) {
    content: url('/public/img/advantages-img/Adaptive\ Difficulty_Vector.png');
    transform: translate(15px, -70px);
  }
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  @include media(desktop) {
    gap: 90px;
  }
}

.advantage-item:nth-child(2) .text-content,
.advantage-item:nth-child(6) .text-content {
  gap: 48px;
  @include media(desktop) {
    gap: 112px;
  }
}

.text-content h3 {
  font-size: 16px;
  font-weight: 500;
  color: $_header_text_color;
  @include media(desktop) {
    font-size: 24px;
  }
}

.number {
  color: $_hover_text_color;
  font-size: 16px;
  font-weight: 500;
  margin-right: 16px;
  @include media(desktop) {
    font-size: 20px;
    margin-right: 32px;
  }
}

.text-content p {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  color: var(--header-text-color);
  @include media(desktop) {
    font-size: 16px;
  }
}
