.features {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}

.features__header {
  margin-bottom: 77px;
  padding-top: 96px;
}

.features__title {
  color: $_header_text_color;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.features__grid {
  display: flex;
  gap: 56px;
  white-space: nowrap;
}

.feature {
  display: inline-block;
  width: 246px;
  height: 164px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;

  flex-shrink: 0;
  border-radius: 16px;
  background: var(--Card-Background_Pink, #fddeff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  animation: scroll 5s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.feature__icon-wrapper {
  margin-bottom: 16px;
}

.feature__icon {
  width: 40px;
  height: 40px;
}

.feature__text h3 {
  color: $_header_text_color;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.feature__text p {
  color: $_header_text_color;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
