.features {
  padding: 112px 0 0;
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    padding: 190px 0 0;
  }
}

.features__title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 20px;
  color: $_header_text_color;
  font-size: 20px;

  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  @include media(desktop) {
    font-size: 36px;
    margin-bottom: 64px;
  }
}
.featuresGrid {
  display: flex;
  gap: 48px;
  white-space: nowrap;
  width: 100%;
  animation: scrollFeatures 10s linear infinite;

  @include media(desktop) {
    gap: 56px;
  }
}

.feature {
  display: inline-block;
  width: 167px;
  height: 161px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--Card-Background_Pink, #fddeff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

  @include media(desktop) {
    width: 246px;
    height: 164px;
  }
}

@keyframes scrollFeatures {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-167px * 8 - 48px * 8));
  }
}

.feature__icon-wrapper {
  margin-bottom: 16px;
}

.feature__icon {
  width: 40px;
  height: 40px;
}

.feature__text h3 {
  color: $_header_text_color;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @include media(desktop) {
    font-size: 24px;
  }
}

.feature__text p {
  color: $_header_text_color;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @include media(desktop) {
    font-size: 16px;
  }
}
