.benefits-section {
  padding: 112px 0 0;
  @include media(desktop) {
    padding: 140px 0 0;
  }
}

.benefits-title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 20px;
  color: $_header_text_color;
  font-size: 20px;
  text-transform: capitalize;
  @include media(desktop) {
    font-size: 36px;
    margin-bottom: 64px;
  }
}

.benefits-marquee {
  max-width: 100%;
  height: 200px;
  overflow: hidden;
}

.benefits-grid {
  display: flex;
  width: 200%;
  gap: 20px;
  animation: merquee-list 5000ms linear infinite;
  @include media(desktop) {
    gap: 0;
  }
}

.marquee-box {
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: space-around;
  @include media(desktop) {
    gap: 0;
  }
}

.benefits-item {
  padding: 24px;
  border-radius: 16px;
  background: var(--Card-Background_Pink, #fddeff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  flex-shrink: 0;
  @include media(desktop) {
    padding: 24px;
  }
}

.benefits-up {
  display: none;
  @include media(desktop) {
    display: block;
  }
}

@keyframes merquee-list {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.benefits-box {
  width: 119px;
  @include media(desktop) {
    width: 198px;
  }
}

.benefits-svg {
  width: 24px;
  height: 24px;
  margin-bottom: 32px;

  @include media(desktop) {
    width: 28px;
    height: 28px;
  }
}

.benefits-box-title {
  color: $_header_text_color;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 8px;
  @include media(desktop) {
    font-size: 24px;
  }
}

.benefits-box-text {
  color: $_header_text_color;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @include media(desktop) {
    font-size: 16px;
  }
}
