.gallery-section {
  padding: 112px 0;
  @include media(desktop) {
    padding: 120px 0;
  }
}

.gallery-title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  @include media(desktop) {
    font-size: 36px;
    margin-bottom: 64px;
  }
}

.gallery-slide {
  width: 240px !important;
  border-radius: 16px;
  @include media(desktop) {
    width: 386px !important;
  }
}
