.header {
  padding: 8px 16px;
  width: 100%;
  height: auto;
  background-color: $_header_accent_color;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
    height: 104px;
    padding: 8px 32px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  @include media(desktop) {
    gap: 363px;
  }
}

.icon-logo {
  width: 48px;
  height: 48px;
  align-self: flex-start;
  margin-left: 0;

  @include media(desktop) {
    width: 72px;
    height: 72px;
  }
}

.navLink {
  display: none;

  @include media(desktop) {
    display: flex;
    gap: 32px;
    margin-left: auto;
  }
}

.link {
  text-decoration: none;
  color: $_header_text_color;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;

  @include media(desktop) {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    color: $_hover_text_color;
    transition: all 0.3s ease;
  }
}

.burger-btn,
.close-btn {
  display: block;

  @include media(desktop) {
    display: none;
  }
}
