.header {
  padding: 8px 16px;
  width: 100%;
  height: auto;
  background-color: $_header_accent_color;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
    height: 104px;
    padding: 8px 32px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  @include media(desktop) {
    gap: 363px;
  }
}

.icon-logo {
  width: 48px;
  height: 48px;
  align-self: flex-start;
  margin-left: 0;

  @include media(desktop) {
    width: 72px;
    height: 72px;
  }
}

.navLink {
  display: none;

  @include media(desktop) {
    display: flex;
    gap: 32px;
    margin-left: auto;
  }
}

.link {
  text-decoration: none;
  color: $_header_text_color;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;

  @include media(desktop) {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    color: $_hover_text_color;
    transition: all 0.3s ease;
  }
}

.burger-btn,
.close-btn {
  // display: block;

  @include media(desktop) {
    display: none;
  }
}

.mobile-content {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #d2ffb1 0%, #ffc6e6 65%);
  z-index: 9999;
  padding: 32px;
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);

  &.active {
    transform: translateX(0);
  }

  .navLinkMobile {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .link {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: $_header_text_color;
    text-decoration: none;

    &:hover {
      color: $_hover_text_color;
    }
  }
}

.burger-btn {
  display: block;
  z-index: 10000;
}

// .icon-burger {
//   fill: $_main_color;
// }

.close-btn {
  display: none;
  z-index: 10000;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;

  @include media(desktop) {
    display: none;
  }
}
