.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 104px 0 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  max-width: 320px;
  height: 488px;
  background-image: url('/img/hero-img/mainVectorDesktop.png');
  background-position: 47% -50%;
  background-repeat: no-repeat;
  background-size: 240%;
  background-color: #c2fffd;

  @include media(desktop) {
    gap: 24px;
    max-width: 100%;
    height: 984px;
    padding: 120px 0 0;
    background-image: url('/img/hero-img/mainVectorDesktop.png');
    background-size: 120%;
    background-position: 38% 0%;
  }
}

.title-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  // margin-top: 5px;

  @include media(desktop) {
    gap: 24px;
  }

  &:hover .hero-title-outline,
  &:hover .hero-title-fill {
    animation: shake 0.5s;
  }
}
.hero-title-outline {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  font-size: 40px;
  position: absolute;
  z-index: 1;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  text-align: center;

  @include media(desktop) {
    font-size: 96px;
    -webkit-text-stroke-width: 4px;
  }
}

.hero-title-fill {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  font-size: 40px;
  position: relative;
  z-index: 2;
  background: url('/public/img/hero-img/backgrounTitle.png') lightgray 50% /
    cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;

  @include media(desktop) {
    font-size: 96px;
  }
}

.mobile-br {
  display: inline;
  @include media(desktop) {
    display: none;
  }
}

.desktop-br {
  display: none;
  @include media(desktop) {
    display: inline;
  }
}

.hero-text {
  font-size: 20px;
  line-height: 150%;
  color: $_header_text_color;
  margin: 0;
  max-width: 320px;

  @include media(desktop) {
    font-size: 36px;
    max-width: none;
  }
}

.hero-button {
  display: inline-block;
  margin-top: 8px;
  transition: all 0.5s ease-in-out;

  @include media(desktop) {
    margin-top: 16px;
  }
}

.google-play-icon {
  width: 109px;
  height: 32px;

  @include media(desktop) {
    width: 180px;
    height: auto;
  }
}

.hero-button:hover {
  content: url('/public/img/hero-img/mainButtonHover.png');
  transition: all 3s ease-in-out;
  width: 144px;
  height: auto;

  @include media(desktop) {
    width: 198.4px;
    height: auto;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.title-button-wrapper:hover .hero-title {
  animation: shake 0.5s;
}
