.reviews-section {
  padding: 112px 0 0;
  @include media(desktop) {
    padding: 120px 0 0;
  }
}

.swiper-reviews {
  overflow: hidden;
}

.reviews-title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  @include media(desktop) {
    font-size: 36px;
    margin-bottom: 64px;
  }
}

.slide-reviews {
  box-sizing: border-box;
  height: 206px !important;
  box-shadow: inset 0 1px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff9cd;
  border-radius: 16px;
  padding: 32px 24px;
  overflow: hidden;
  @include media(desktop) {
    height: 200px !important;
  }
}

.reviews-box {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.reviews-img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-right: 16px;
}

.reviews-nickname {
  font-weight: 500;
  font-size: 16px;
  @include media(desktop) {
    font-size: 24px;
  }
}

.reviews-text {
  font-size: 12px;
  @include media(desktop) {
    font-size: 16px;
  }
}
