@import './header.scss';
@import './hero.scss';

:root {
  font-family: Fredoka, Pixelify, sans-serif;
  // font-size: 16px;
  // line-height: 24px;
  // font-weight: 400;

  // color: #242424;
  body {
    height: 100vh;
    background: linear-gradient(
      to top,
      #d2ffb1 0%,
      #c2fffd 35%,
      #ffc6e6 65%,
      #c2fffd 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
  }

  // font-synthesis: none;
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-text-size-adjust: 100%;
}
